<!--<button type="button" (click)="toggleExists()">Toggle exists</button>-->
<!--<hr/>-->
<!--<app-my-component *ngIf="exists"></app-my-component>-->

<!--zadanie4-->
<!--<app-my-component *ngFor="let movie of topMovies; let i = index" [director]="movie.director">-->
<!--  {{i+1}}.{{movie.title}}-->
<!--</app-my-component>-->

<!--&lt;!&ndash;zadanie 5&ndash;&gt;-->
<!--<div>-->
<!--  <app-tab-component [active]="isSelected(1)" (click)="setTab(1)">Tab1</app-tab-component>-->
<!--  <app-tab-component [active]="isSelected(2)" (click)="setTab(2)">Tab2</app-tab-component>-->
<!--  <app-tab-component [active]="isSelected(3)" (click)="setTab(3)">Tab3</app-tab-component>-->
<!--</div>-->
<!--<div [ngSwitch]="tab">-->
<!--<app-tab-content-component *ngSwitchCase="1">Tab content 1</app-tab-content-component>-->
<!--<app-tab-content-component *ngSwitchCase="2">Tab content 2</app-tab-content-component>-->
<!--<app-tab-content-component *ngSwitchCase="3">Tab content 3</app-tab-content-component>-->
<!--<app-tab-content-component *ngSwitchDefault>Select tab</app-tab-content-component>-->
<!--</div>-->

<!--<p style="padding: 1rem" [ngStyle]="style">Style me!</p>-->

<!--&lt;!&ndash;zadanie 7&ndash;&gt;-->
<!--<p [ngClass]="{card: true, dark: isDark, flat: false}">Style me!</p>-->
<!--<div>-->
<!--  <button type="button" (click)="changeStyle()">Change style</button>-->
<!--</div>-->

<!--<p appMyDirective>Style me!</p>-->



<!--zadanie 10-12-->
<!--<p>top movies:</p>-->
<!--<ul>-->
<!--  <li *ngFor="let movie of topMovies">-->
<!--    {{movie.title}} [{{movie.director}}]-->
<!--  </li>-->
<!--</ul>-->

<!--<p>top worst movies:</p>-->
<!--<ul>-->
<!--  <li *ngFor="let movie of bottomMovies">-->
<!--    {{movie.title}} [{{movie.director}}]-->
<!--  </li>-->
<!--</ul>-->

<!--&lt;!&ndash;pipes&ndash;&gt;-->

<!--{{1234.23 | currency: 'PLN'}}<br/>-->
<!--{{'Mon Aug 24 2020 21:30:23 GMT+0200' | date: 'fullDate' }}<br/>-->
<!--<pre>{{{name: 'John', surname: 'Doe'} | json }}</pre> <br/>-->
<!--{{0.12 | percent}}<br/>-->
<!--{{ [1, 2, 3, 4, 5, 6, 7] | slice: 1: 4}}<br/>-->
<!--Dzielenie modulo: {{ 26 | modulo: 4}}<br/>-->

<!--zadanie 9-->
<!--<p appMyDirective>Style me!</p>-->

<!--zadanie 13-->
<form #tdForm="ngForm" (ngSubmit)="onSubmit()">
  <fieldset ngModelGroup="userData">
  <label>username: <input name="username" ngModel></label>
  <label>lastname: <input name="lastname" ngModel></label>
  </fieldset>
  <fieldset ngModelGroup="otherUserData">
  <label>age: <input name="age" ngModel></label>
  <label>country: <input name="country" ngModel></label>
  </fieldset>
  <button type="submit">Wyślij</button>
</form>
