/*app-tab-component  {*/
/*  background-color: #ddd;*/
/*  padding-left: 15px;*/
/*  cursor: pointer;*/
/*}*/

.card {
  border: 1px solid #eee;
  padding: 1rem;
  margin: 0.4rem;
  font-family: sans-serif;
  box-shadow: 2px 2px 2px #888888;
}

.dark {
  background-color: #444;
  border-color: #000;
  color: #fff;
}

.flat {
  box-shadow: none;
  /*  spłaszczenie cienia*/
}

a {
  padding-right: 5px;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid deepskyblue;
  border-bottom: 16px solid deepskyblue;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
